= javascript_include_tag "ng-grid/ng-grid-2.0.7.min"
= javascript_include_tag "trips"

#app{:"ng-app" => "bestLocatorApp"}
  #trip{:"ng-controller" => "TripsCtrl"}
    .row_
      #choose_stop{"ng-show" => "bus_stop === null"}
        %table.table
          %thead
            %tr
              %th
                %h3 Which bus stop are you at?
          %tbody
            %tr{"ng-repeat" => "b in bus_stops", "ng-class-odd" => "odd"}
              %td
                %a{:"ng-click" => "bus_stop = makeBusStop(b)"}
                  {{b.properties.official_name}}
      #choose_route{"ng-show" => "bus_stop !== null && route === null"}
        %table.table
          %thead
            %tr
              %th
                %h3{:style => "float:left; padding-right: 20px;"}
                  {{bus_stop.properties.display_name}}
                Please choose a route
                %button.btn.btn-danger{:type => "button", "ng-click" => "bus_stop = null;", "style" => "float: right"}
                  Clear
          %tbody
            %tr{"ng-repeat" => "r in bus_stop.routes track by $index"}
              %td
                %a{"ng-click" => "chooseRoute(r.trim())"}
                  {{r.trim()}}
      #start_route{"ng-show" => "route !== null"}
        %table.table
          %thead
            %tr
              %th
                %h3{:style => "float:left; padding-right: 20px;"}
                  {{bus_stop.properties.display_name}} | {{route.display_name}}
                %div{:style => "float:right"}
                  %button.btn.btn-large.btn-info{:type => "button", "ng-click" => "startTrip()"}
                    Start
                  %button.btn.btn-danger{:type => "button", "ng-click" => "route = null"}
                    Clear
          %tbody
            %tr{"ng-repeat" => "s in route.stops track by $index"}
              %td
                %a{"ng-click" => "makeBusStop(s)"}
                  {{s.properties.display_name}}