= javascript_include_tag "trips"

#app{:"ng-app" => "bestLocatorApp"}
  #trip{:"ng-controller" => "TripsCtrl"}
    .row_
      #choose_stop{"ng-show" => "start_bus_stop === null && trip === null"}
        %h3.title
          Which bus stop are you at?
        %button.btn.btn-primary{:"ng-click" => "getPosition()"}
          %i{:class => "glyphicon glyphicon-refresh"}

        %table.table.table-list
          %tbody
            %tr{"ng-repeat" => "b in bus_stops", "ng-class-odd" => "odd"}
              %td{:"ng-click" => "start_bus_stop = makeBusStop(b)"}
                %h3{:style => "padding-left: 40px"}
                  {{b.official_name | lowercase}}
      #choose_end_map_square{"ng-show" => "(start_bus_stop !== null) && end_areas == null"}
        %h3.title Where are you going?
        %button.btn.btn-danger{:"ng-click" => "start_bus_stop = null"} Back
        %table.table.table-list
          %tr{"ng-click" => "getFaves()"}
            %td
              %h3 Favorites
          %tr{"ng-repeat" => "ms in map_squares", "ng-click" => "markEndMapSquare(ms)"}
            %td
              %h3
                {{ms.name}}
      #choose_end_area{"ng-show" => "end_areas !== null && end_area === null"}
        %h3.title Choose a destination area
        %button.btn.btn-danger{"ng-click" => "end_areas = null;end_area = null;"} Back
        %table.table.table-list
          %tr{"ng-repeat" => "area in end_areas", "ng-click" => "chooseEndArea(area)"}
            %td
              %h3 {{ area }}

      #choose_destination{"ng-show" => "end_area !== null && routes === null"}
        %h3.title Choose a destination stop
        %button.btn.btn-danger{"ng-click" => "end_areas = null;end_area = null; routes = null; bus_stops = null"} Back
        %table.table.table-list
          %tbody
            %tr{"ng-repeat" => "s in end_bus_stops track by $index", "ng-click" => "makeBusStop(s, 'end')"}
              %td
                %a
                  {{s.display_name}} ({{s.id}})

      #choose_route{"ng-show" => "routes !== null && trip === null"}
        %h3.title
          {{start_bus_stop.display_name}} to
          %span{"ng-show" => "end_bus_stop !== null"}
            {{end_bus_stop.display_name}}
        %button.btn.btn-danger{"ng-click" => "end_bus_stop = null; routes = null; end_area = null; end_areas = null"} Back
        %table.table.table-list
          %tbody
            %tr{"ng-repeat" => "r in routes track by $index", "ng-click" => "startTrip(r)"}
              %td
                %h3.title
                  {{r.display_name}}
              %td{:width => "55%"}
                %span.route-detail
                  {{r.start_stop}} -
                  {{r.end_stop}}
              %td.bus-status
                = image_tag 'bus-grey.png', :style => "width: 45px"
                %br
                No info
              %td.bus-status &nbsp;
              %td.bus-status &nbsp;
      #tracking{"ng-show" => "trip !== null"}
        %table.table
          %thead
            %tr
              %td{:colspan => "2"}
                %h3{:style => "float:left; padding-right: 20px;"}
                  Trip Details
                %div{:style => "float:right"}
                  %button.btn.btn-large.btn-danger{:type => "button", "ng-click" => "stopTrip()"}
                    Stop!
            %tr
              %th Route
              %th {{route.display_name}}
            %tr
              %th Start
              %th
                {{trip.start_stop_name}} ({{trip.created_at}})
            %tr
              %th End
              %th
                {{trip.end_stop_name}}
            %tr
              %th Kms
              %th {{trip.kms}}
        %br
        %table.table.table-striped
          %thead
            %tr
              %th Lat
              %th Lon
              %th At
              %th Accuracy
              %th Speed
              %th Heading
          %tbody
            %tr{"ng-repeat" => "p in points track by $index"}
              %td {{p.coords.latitude}}
              %td {{p.coords.longitude}}
              %td {{p.created_at}}
              %td {{p.coords.accuracy}}
              %td {{p.coords.speed}}
              %td {{p.coords.heading}}
