= javascript_include_tag "trips"

#app{:"ng-app" => "bestLocatorApp"}
  #trip{:"ng-controller" => "TripsCtrl"}
    .row_
      #choose_stop{"ng-show" => "state === 'start'"}
        .title
          %h3 Which bus stop are you at?

          %button.btn.btn-primary{:"ng-click" => "getPosition()"}
            %i{:class => "glyphicon glyphicon-refresh"}

        %table.table.table-list
          %tbody
            %tr{"ng-repeat" => "b in bus_stops", "ng-class-odd" => "odd"}
              %td{:"ng-click" => "start_bus_stop = makeBusStop(b)"}
                %h4{:style => "padding-left: 40px"}
                  {{b.official_name | lowercase}}
      #choose_route{"ng-show" => "state === 'choose_route'"}
        %table.table
          %tr
            %th From
            %th {{start_bus_stop.display_name}}
            %th{:rowspan => 2}
              %button.btn.btn-danger{"ng-click" => "start()"}
                Back
          %tr
            %th To
            %th
              %span{"ng-show" => "end_bus_stop !== null"}
                {{end_bus_stop.display_name}}
              %input{"type"=>"text", "ng-autocomplete"=>true, "ng-model"=>"autocomplete", "options"=>"options", "details"=>"details"}

        %table.table.table-list#route_list
          %tbody
            %tr{"ng-repeat" => "r in routes track by $index", "ng-click" => "showRoute(r)"}
              %td.status{"width" => "10%"}
                %h3
                  {{r.display_name}}
              %td{:width => "55%"}
                %span.route-detail
                  {{r.start_stop}} -
                  {{r.end_stop}}
      #show_route{"ng-if" => "state === 'show_route'"}
        .row
          .title
            .col-xs-2
              %h3
                {{ route.display_name}}
                %button.btn.btn-danger{"ng-click" => "go_choose_route()"} Back
            .col-xs-9
              %h3
                {{route.start_stop}} - {{route.end_stop}}
        %tabset
          %tab{"heading" => "Stops"}
            %table.table.table-list
              %tbody
                %tr{"ng-repeat" => "stop in route.stops"}
                  %td {{stop.display_name}}
          %tab{"heading" => "Map", "ng-click" => "showRouteOnMap();"}
            .col-xs-12
              %google-map{:center => "map.center", :zoom => "map.zoom", :events => "map.events", :draggable => "true", :options => "mapOptions", "ng-cloak" => true}

      #choose_end_map_square{"ng-show" => "state === 'choose_last_square'"}
        .title
          %h3
            Where are you going?
            %button.btn.btn-danger{:"ng-click" => "go_choose_route()"} Back
        %table.table.table-list
          %tbody
            %tr{"ng-click" => "getFaves()"}
              %td
                %h4 Favorites
            %tr{"ng-repeat" => "ms in map_squares", "ng-click" => "markEndMapSquare(ms)"}
              %td
                %h4
                  {{ms.name}}
      #choose_end_area{"ng-show" => "state === 'choose_last_area'"}
        .title
          %h3
            Choose a destination area
            %button.btn.btn-danger{"ng-click" => "state='choose_route'"} Back
        %table.table.table-list
          %tbody
            %tr{"ng-repeat" => "area in end_areas", "ng-click" => "chooseEndArea(area)"}
              %td
                %h4 {{ area }}

      #choose_destination{"ng-show" => "state === 'choose_last_stop'"}
        .title
          %h3
            Choose a destination stop
            %button.btn.btn-danger{"ng-click" => "go_choose_route()"} Back
        %table.table.table-list
          %tbody
            %tr{"ng-repeat" => "s in end_bus_stops track by $index", "ng-click" => "makeBusStop(s, 'end')"}
              %td
                %a
                  {{s.display_name}}

      #tracking{"ng-show" => "false"}
        %table.table
          %thead
            %tr
              %td{:colspan => "2"}
                %h3{:style => "float:left; padding-right: 20px;"}
                  Trip Details
                %div{:style => "float:right"}
                  %button.btn.btn-large.btn-danger{:type => "button", "ng-click" => "stopTrip()"}
                    Stop!
            %tr
              %th Route
              %th {{route.display_name}}
            %tr
              %th Start
              %th
                {{trip.start_stop_name}} ({{trip.created_at}})
            %tr
              %th End
              %th
                {{trip.end_stop_name}}
            %tr
              %th Kms
              %th {{trip.kms}}
            %tr
              %th Fullness
              %th
                %a{"ng-click" => "updateTrip({fullness: 'low'})"} Low
            %tr
              %th License Number
              %th
                %input{"ng-model" => "trip.license_number"}
                %btn.btn-success{"ng-click" => "updateTrip({license_number: trip.license_number})"} update

        %br
        %table.table.table-striped
          %thead
            %tr
              %th Lat
              %th Lon
              %th At
              %th Accuracy
              %th Speed
              %th Heading
          %tbody
            %tr{"ng-repeat" => "p in points track by $index"}
              %td {{p.coords.latitude}}
              %td {{p.coords.longitude}}
              %td {{p.created_at}}
              %td {{p.coords.accuracy}}
              %td {{p.coords.speed}}
              %td {{p.coords.heading}}
