= javascript_include_tag "users"
.container
  #app{"ng-app" => "bestLocatorApp"}
    #user{:"ng-controller" => "UsersCtrl"}
      .row
        .col-md-2
          = profile_pic type: "large"
        .col-md-3
          %h2
            {{user.name}}
          %h3
            {{trips.length}} trips
        .col-md-2
          = link_to "Start a trip", new_trip_path, :class => "button btn btn-large btn-info"

      %table.table.table-striped
        %thead
          %tr
            %th Id
            %th From
            %th at
            %th To
            %th at
            %th status
            %th kms
        %tbody
          %tr{:"ng-repeat" => "t in trips" }
            %td {{t.id}}
            %td {{t.start_stop_name}}
            %td {{t.started_at}}
            %td {{t.end_stop_name}}
            %td {{t.ended_at}}
            %td {{t.status}}
            %td {{t.kms}}
