= javascript_include_tag :routes
%script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAua_bhuj4kOzFFX1UtgpqpvrO-ntx9czA"}
= javascript_include_tag "angular-google-maps.min"
.container
  #app{"ng-app" => "bestLocatorApp"}
    #routes{:"ng-controller" => "RoutesCtrl"}
      .row
        .col-md-1
          %strong Routes
        .col-md-1
          %select{"ui-select2" => true, "ng-model" => "selectedRoute", "ng-change" => "loadRoute()", "data-placeholder" => "Choose a route", "multiple" => "multiple", "style" => "width: 20em"}
            %option{"ng-repeat" => "route in routes", "value" => "{{route.id}}"}
              {{route.display_name}}

      .col-md-5
        %table.table.table-striped
          %thead
            %tr
              %th No.
              %th From
              %th To
          %tbody
            %tr{:"ng-repeat" => "route in routes"}
              %td
                {{route.display_name}}
              %td
                {{ route.start_stop }}
              %td
                {{ route.end_stop }}
              %td
                %a{:"ng-click" => "loadRoute(route.id)"} Load
      .col-md-7#map
        %google-map{:center => "map.center", :zoom => "map.zoom", :events => "map.events"}
