= javascript_include_tag :routes
= javascript_include_tag "angular-google-maps.min"
.container
  #app{"ng-app" => "bestLocatorApp"}
    #routes{:"ng-controller" => "RoutesCtrl"}
      .row
        .col-md-1
          %strong Routes
        .col-md-1
          %select{"ui-select2" => true, "ng-model" => "selectedRoutes", "ng-change" => "loadRoute()", "data-placeholder" => "Choose a route", "multiple" => "multiple", "style" => "width: 60em"}
            %option{"ng-repeat" => "route in routes", "value" => "{{route.id}}"}
              {{route.display_name}}
      .row
        .col-md-5
          %table.table.table-striped
            %tr{"ng-repeat" => "route in selectedRoutes"}
              %td {{selectedRouteInfo[route].display_name}}
              %td {{selectedRouteInfo[route].start_stop}}
              %td {{selectedRouteInfo[route].end_stop}}
              %td
                %a{"ng-click" => "toggleTrip(route)"} Toggle

        .col-md-7
          %google-map{:center => "map.center", :zoom => "map.zoom", :events => "map.events"}
