@mixin bluebg {
  background: rgba(32,43,66,0.8);
}

#splash {
  min-height: 100%;
  width: 100%;
  #tagline {
    position: relative;
    left: 20px;
    border-radius: 0px 0px 10px 10px;
    @include bluebg;
    color: #ccc;
  }
  #tagline2 {
    color: #eee;
    @include bluebg;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
  }
}

#scrawl {
  font-family: 'Waiting for the Sunrise';
  padding:10px;
  border-radius: 10px;
}

@media (min-width:600px) {
    body {
	background-image: image-url('splash2.jpg');
	background-size: cover;
    }
}
