@import url(http://fonts.googleapis.com/css?family=Sintony);

html, body { height: 100%; }
#content, .container-fluid, .span9
{
    border: 1px solid #000;
    overflow-y:auto;
    height:100%;
}
.navbar {
  margin-bottom: 0px;
}

#trip {
  font-family: "Georgia";
  h3 { margin: 0px;}
  overflow: scroll;
  font-size: 1.2em;
  table {
      height: 20px;
      overflow: scroll;
  }
  tbody {
    td {
	padding: 4px 4px 4px 42px;
	a {
	    color: #222;
	    text-shadow: 1px 1px 1px white;
	    cursor: pointer;
	    text-transform: capitalize;
	}
    }
  }
}