@import url(http://fonts.googleapis.com/css?family=Lilita+One);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);


@mixin bluebg {
  background: rgba(32,43,66,0.8);
}

html, body { height: 100%; }

#content, .container-fluid, .span9
{
    overflow-y:auto;
    height:100%;
}
.navbar {
  margin-bottom: 0px;
  @include bluebg;
  border: 0px;
  border-radius: 0px;
}
.navbar-default {
    .navbar-brand {
	color: #ccc;
	font-weight: bold;
    }
}

#trip{
  h3.title {
      margin: 5px;
      float: left;
  }
  h3 {
      font-weight: normal;
      font-size: 1.4em;
      text-transform: capitalize;
  }
  font-size: 1.2em;
  table.table-list {
      color: #444;
      overflow: scroll;
      height: 80%;
      thead {
	  height: 45px;
	  background: #fff;
      }
      tbody {
	  margin-top: 40px;
	  overflow: auto;
	  tr {
	      cursor: pointer;
	  }
	  td {
	      padding: 10px;
	      a {
		  color: #222;
		  text-shadow: 1px 1px 1px white;
		  cursor: pointer;
		  text-transform: capitalize;
	      }
	  }
	  tr:hover {
	      background: #dadada;
	  }
      }
  }
}


#choose_route {
    table {
	color: #444;
	h3 {
	    font-size: 1.4em;
	}
	span.route-detail {
	    color: #777;
	}
	tbody {
	    tr {
		cursor: pointer;
	    }
	    td {
		border-right: solid 1px #efefef;
	    }
	    td.bus-status {
		width: 13%;
		text-align: center;
		padding: 5px;
	    }
	}
    }
}
#app {
  padding-top: 20px;
}

.highlight {
  color: darkorange;
}